body {
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.underscore {
  font-size: 6vw;
}

.letters{
  font-size: 10vw;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0px #2196f3,
  3px 3px 0px #2196f3,
  6px 6px 0px #0d47a1;
}

.letter:hover {
  background-color: #88BBD6;
}

.options p {
  font-size: 1vw;
}
