/* color palette:
BG: #99D3DF //ice
Color: #FFFFF

#88BBD6 // Fresh Water
#CDCDCD //Plaster
#E9E9E9 //Linen
*/

body {
  background-color: #FFFFFF;
  text-transform: uppercase;
  color: black;
  border: black 1px solid;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.underscore {
  font-size: 4vw;
}

input[type='button'] {
  background-color: white;
  border: black 1px solid;
}


.letters{
  font-size: 3vw;
  font-family: 'Zilla Slab', serif;
  text-align: center;
  /*text-shadow: -1px -1px 0px #000000,
  3px 3px 0px #000000,
  6px 6px 0px #000000*/
}

.clickable {
  color: black;
  pointer-events: auto;
}

.unclickable {
  color: gray;
  pointer-events: none;
}

.letter:hover {
  color: #E9E9E9;
}

.options p {
  font-size: 1vw;
}
