/* color palette:
BG: #99D3DF //ice
Color: #FFFFF

#88BBD6 // Fresh Water
#CDCDCD //Plaster
#E9E9E9 //Linen
*/

/* remove later */
div {
  /*border: #E9E9E9 1px dashed;*/
}
/* remove later */

body {
  background-color: #99D3DF;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

main {
  padding: 50px 10px;
  min-height: 100vh;
}

.display {
  max-height: 50%;
}

.hangman {
  min-width: 40%;
  border: #E9E9E9 1px dashed;
}

.letters {
  align-items: center;
  width: 60%;
}

.letters div {
  width: 100%;
}

.letter {
  max-width: 100%;
}

.underscore {
  padding: 5vh;
}

.options {
  height: 5vh;
  align-self: flex-end;
}

.options input {
  width: 100px;
  height: 10px;
}

.options * {
  margin: 0 auto;
}


header, footer {
  width: 100%;
  background: rgba(233,233,233);
  background: rgba(233,233,233, .1);
  line-height: 30px;
}

footer {
  height: 30px;
}

header {
  height: 50px;
}

.hide {
  display: none
}
